.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: antiquewhite;
    padding: 0px 20px;
    border: 2px solid black;
}


.header button {
    font-size: 24px;
}


.todo-item {
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}